.grid__like {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 21px;
  height: 19px;
}

.grid__like-heart {
  width: 21px;
  height: 19px;
  background-image: url('../images/heart_logo-unact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
}

.grid__like:hover .grid__like-heart {
  opacity: 0.6;
}

.grid__like_active .grid__like-heart {
  background-image: url('../images/heart_logo-act.jpg');
}
